phantomjs_cdnurl=http://artifactory:8081/artifactory/General-Files/phantomjs/
registry=http://artifactory:8081/artifactory/api/npm/npm-virtual
;proxy=http://smaster:MasterS1@10.20.5.226:8080
https-proxy=http://smaster:MasterS1@10.20.5.226:8080
;strict-ssl=false