<page-title></page-title>

<a routerLink="/" routerLinkActive="active">Home</a>
<a routerLink="newcounter" routerLinkActive="active">New CounterComponent</a>
<a routerLink="counter2" routerLinkActive="active">CounterComponent2</a>
<a routerLink="list">ListComponent</a>
<a routerLink="myButton">MyButtonComponent</a>
<a routerLink="numFieldComponent">NumFieldComponent</a>
<a routerLink="shopping-list">ShoppingListComponent</a>
<a routerLink="sizer">SizerComponent</a>
<a routerLink="the-form">TheFormComponent</a>
<a routerLink="calculate">Calculate</a>
<a routerLink="newlist">New List</a>
<a routerLink="wikipedia">Wikipedia</a>

<hr/>

<h2>Name: {{name}}</h2>

<hr/>

<router-outlet></router-outlet>