<main>
    <h1>Hello from Angular App with Webpack</h1>
    <img src="../../../public/images/angular.png">
</main>

<!--<shopping-list></shopping-list>-->

<my-button text="Do Something" (onClick)="dosomething($event)"></my-button>

<my-sizer [(size)]="fontSizePx"></my-sizer>
<div [style.font-size.px]="fontSizePx">Resizable Text {{fontSizePx}}</div>

<hr/>

<calculate></calculate>

<hr/>

<div>Counter: {{counter1}}</div>
<counter [(counter)]="counter1"></counter>

<hr/>

<div>Counter: {{counter2}}</div>
<counter [counter]="counter2" (counterChange)="counter2 = $event"></counter>

<hr/>

<div>Counter2: {{counter3}}</div>
<!--<counter2 [(counter)]="counter3"></counter2>-->
<counter2 [(counter)]="counter3"></counter2>

<hr/>

<numfield></numfield>

<hr/>

<list></list>

<hr/>

<div>Name: {{name}}</div>
<div>Name: {{namee?.xxx}}</div>
<the-form [(name)]="name"></the-form>
